<section style="background-color: #112d84;">
  <div style="padding: 30px 10px 25px 20px">
    <h1 style="color: white;
  font-size: 32px;">
      Artificial Intelligence
    </h1>
  </div>
</section>

<section class="expertise-section">
  <div class="content-wrapper-container">
    <div class="expertise-box">
      <div class="expertise-innerbox">
        <div style="justify-content: center;" class="row row-flex">
          <div class="col-md-6 col-lg-3">
            <div>
              <a href="#section1">
                <div class="expertise-card">
                  <img class="card-icon" src="/assets/icons/machine-learning.png">
                  <h3>Machine Learning</h3>
                  <div class="expertise-description">

                    Our solutions are designed to trade stocks and shares intelligently or maneuver an autonomous
                    vehicle would fall into this category.

                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div>
              <a href="#section2">
                <div class="expertise-card">
                  <img class="card-icon" src="/assets/icons/ocr.svg">
                  <h3>OCR Solution</h3>
                  <div class="expertise-description">


                    In minutes, our solution automates data extraction from invoices, purchase orders, packing lists,
                    receipts, and any similar document, even those with complex table data, in just a few minutes.


                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div>
              <a href="#section3">
                <div class="expertise-card">
                  <img class="card-icon" src="/assets/icons/chatbot.svg">
                  <h3>Chatbot Solution</h3>
                  <div class="expertise-description">
                    Chatbots automate your brand interactions with smart, intelligent, and scalable solutions. Our
                    chatbot development services include.
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>


<section class="expertise-detail-box">
  <div class="content-wrapper-container" id="section1">
    <div class="flex-lg-row row no-gutters flex-column-reverse">
      <div class="col-lg-6">
        <div class="left-section aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <h3>Machine Learning</h3>
          <p>Our solutions are designed to trade stocks and shares intelligently or maneuver an autonomous vehicle
            would fall into this category. Our assistance can help your organization develop Artificial Intelligence
            &amp; Machine Learning
            solutions that significantly reduce cost and time. It was difficult to imagine having a system that could
            handle any task and request a decade ago. However, this is where some of the most exciting developments in
            AI
            are taking place, thanks to Machine Learning. Though it is considered a subset of artificial intelligence
            (AI), it is actually a form of state-of-the-art technology because it helps you to:</p>
          <ul>
            <li><i class="fa fa-check"></i>Offer recommendation algorithms to boost cross-selling</li>
            <li><i class="fa fa-check"></i>Perform accurate customer segmentation that allows you to perform lead
              prioritization</li>
            <li><i class="fa fa-check"></i>Allows performing Demand &amp; Sales Forecasting to keep you up with the
              latest trends</li>
            <li><i class="fa fa-check"></i>Analyze Sentiment Analysis with the help of Machine Learning</li>
            <li><i class="fa fa-check"></i>Monitor Recency, Frequency &amp; Monetary Analysis to grow your business</li>
          </ul>
          <p class="pt-4"><a href="contact-us.php#contactUS" target="_blank" class="downloadLink">Contact us</a> for
            more information.</p>
        </div>
      </div>
      <div class="col-lg-6 right-side">
        <img src="/assets/images/machine-learning.png" class="objectFit aos-init aos-animate" data-aos="fade-right"
          data-aos-delay="100" alt="Robotic Process Automaton Solution" width="100%">
      </div>

    </div>
  </div>

</section>

<section class="expertise-detail-box">
  <div class="content-wrapper-container">
    <div class="flex-lg-row row no-gutters flex-column-reverse">
      <div class="col-lg-6 right-side">
        <img src="/assets/images/ocr.png" class="objectFit aos-init aos-animate" data-aos="fade-right"
          data-aos-delay="100" alt="Optical Character Recognition" width="100%">
      </div>
      <div class="col-lg-6">
        <div class="right-section aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <h3>OCR Solution</h3>
          <p>In minutes, our solution automates data extraction from invoices, purchase orders, packing lists,
            receipts, and any similar document, even those with complex table data, in just a few minutes. We help our
            customers achieve
            their goals with our solution by:</p>
          <ul>
            <li><i class="fa fa-check"></i>Reducing their time by 90%</li>
            <li><i class="fa fa-check"></i>Increasing the accuracy rate to 98%</li>
            <li><i class="fa fa-check"></i>Accelerating return on investment with cloud computing</li>
            <li><i class="fa fa-check"></i>Streamlining processes</li>
          </ul>
          <p class="pt-4"><a href="contact-us.php#contactUS" class="downloadLink">Get in touch</a> with us for more
            information.</p>
        </div>
      </div>

    </div>
  </div>

</section>

<section class="expertise-detail-box">
  <div class="content-wrapper-container">
    <div class="flex-lg-row row no-gutters flex-column-reverse">
      <div class="col-lg-6">
        <div class="left-section aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <h3>Chatbot Solution</h3>
          <p>Chatbots automate your brand interactions with smart, intelligent, and scalable solutions. Our chatbot
            development services include:</p>
          <ul>
            <li><i class="fa fa-check"></i>Custom Chatbot Development</li>
            <li><i class="fa fa-check"></i>Integration with ERP Systems</li>
            <li><i class="fa fa-check"></i>Voice-Enabled Chatbots</li>
            <li><i class="fa fa-check"></i>Chatbot Testing</li>
          </ul>
          <p class="pt-4">To learn more, please <a href="contact-us.php#contactUS" target="_blank"
              class="downloadLink">Contact us</a></p>
        </div>
      </div>
      <div class="col-lg-6 right-side">
        <img src="/assets/images/chatbot.png" class="objectFit aos-init aos-animate" data-aos="fade-right"
          data-aos-delay="100" alt="Robotic Process Automaton Solution" width="100%">
      </div>

    </div>
  </div>

</section>