<div class="header-parent">
  <div class="header-container">
    <img src="/assets/SKH.png" style="margin: 4px;" height="50px" width="160px">
    <div style="width:100%" class="display-flex toolbar">
      <div class="navigation-container">
        <app-toolbar></app-toolbar>
      </div>
      <!-- <div class="contact-us">
        <button style="width: 110px;
    height: auto;
    padding: 10px;">Contact Us: 1234567890</button>
      </div> -->
    </div>
    <div class="sidebar-container">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>