<div style="margin-top: 800px;">
  <div style="display: flex;
justify-content: center;
left: 0;
margin: auto;
position: absolute;
top: 65px;">
    <!-- width: 100vw;"> -->
    <div style="align-items: center;
display: flex;
height: 800px;
justify-content: center;
padding: calc(var(--main-padding)*2);
position: absolute;
width: 100%;
z-index: 4;
z-index: 11;
background-color: rgba(0, 0, 0, 0.4);">
      <div>
        <h1 style="font-size: 64px;
  line-height: 76px;text-align: center;color: white;">Where Business<br />Meets IT Talents</h1>
      </div>
    </div>
    <img style="height: 800px;
    min-width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;" src="../../assets/digital-circuit-design-on-a-dark-blue-background.jpg">

  </div>
  <br /><br /><br /><br /><br />
  <div style="margin: auto;
  width: 70%;">
    <p style="font-size: 20px;
    display: flex;
    text-align: center;">
      At SKH Consultancy, we design, build and implement IT solutions for small, medium and large organisations, service
      providers and data centers. we believe that a relationship of trust between customer and partner is the basis of
      every successful project, which is why our primary objective is to bring tangible results and build a lasting
      relationship of trust over time.
    </p>
  </div>
  <!-- Services Layout -->
  <div>
    <div class="rich-text">
      <h2>
        <span>
          Services
        </span>
      </h2>
    </div>
  </div>
  <div class="card-list">
    <div class="card-parent service_in" *ngFor="let item of cardList">
      <!-- <div class="card-parent service_in"> -->
      <app-card [card]="item"></app-card>
      <!-- </div> -->
    </div>
    <!-- <div class="card-parent service_in">
      <app-card Title="Web Development"
        Description="We develop responsive professional websites, designed to be beautiful to look at and easy to use."></app-card>
    </div>
    <div class="card-parent service_in">
      <app-card Title="Mobile App Development"
        Description="We base our mobile apps developments on native or cross-platform technologies, this allows us to offer you the optimal solution that meets your budget, functional scope, and deadlines. "></app-card>
    </div>
    <div class="card-parent service_in">
      <app-card Title="Artificial Intelligence"
        Description="We develop responsive professional websites, designed to be beautiful to look at and easy to use."></app-card>
    </div>
    <div class="card-parent service_in">
      <app-card Title="Machine Learning"
        Description="We develop responsive professional websites, designed to be beautiful to look at and easy to use."></app-card>
    </div>
    <div class="card-parent service_in"><app-card Title="Staffing"
        Description="Whether your workforce needs are permanent or temporary, trust our team of experts to meet your recruiting needs."></app-card>
    </div>
    <div class="card-parent service_in">
      <app-card Title="Web Design"
        Description="Designs of web pages, virtual stores, eCommerce, informative pages, and attractive blogs."></app-card>
    </div> -->
  </div>
</div>

<div style="background-image: url(/assets/images/Compnay.webp);background-attachment: scroll;
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
min-height: 300px;">
  <div style="display: flex;
margin: auto;
max-width: var(--max-width);padding:12px">
    <h2>
      <span style="color:#fff">YOUR COMPANY DESERVERS</span>
      <br />
      <span style="color:#fff">FUTURE-PROOF TECHNOLOGY</span>
    </h2>
  </div>
</div>
<br /><br /><br /><br /><br />
<div style="margin:auto;text-align: center;">
  <span style="font-weight: bolder;font-size: 32px;">Expect more from your consulting firm</span>
  <p>
    You have a lot of consulting firms to choose from. Many are very good. But if you want company-wide transformation,
    you need to set your expectations even higher.
  <p>

  <p style="font-weight: bolder;">Before you commit to any consulting firm, see if they meet the following:</p>
  <div style="margin-top: 30px; display: table;
  margin-top: 100px;
  position: relative;
  width: 100%;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;">
    <div class="table-row">
      <div style="padding: 25px; background: white;text-align: left;    padding: 20px 45px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 2px solid #ddd;
    width: 50%;">
        <span style="font-size: 1.375rem;
        font-family: 'poppins',sans-serif;
        font-weight: 600;color: #000000;
    text-align: center;">What You Should Demand</span>
      </div>
      <!-- //#0079BF; -->
      <div style="padding: 25px 0;
      position: relative;background: black;
      color: #fff;text-align: center;
      display: table-cell;
      vertical-align: middle;
      border-bottom: 2px solid #ddd;
      width: 50%;">
        <span class="what-we-do title"> What SKH Delivers</span>
      </div>

    </div>
    <div class="table-row">
      <div class="col-company left-side">
        <div>
          <b>Professional </b>
          <p>Are they IT experts having real world experience and knowlegde? </p>
        </div>
      </div>
      <div class="col-company right-side">
        <span class="what-we-do"> Experts are chosen for their deep knowledge and successful track record.</span>
      </div>
    </div>
    <div class="table-row">
      <div class="col-company left-side">
        <div>
          <b>Teammates</b>
          <p>Are they experts who can work with you and delivers beyond the contract ?</p>
        </div>
      </div>
      <div class="col-company right-side">
        <span class="what-we-do"> Hire a team of Developers, Designers, Quality Assurance Specialists, DevOps Engineers,
          and
          other experts you may need to work hand-by-hand on your digital product.</span>
      </div>
    </div>
    <div class="table-row">
      <div class="col-company left-side">
        <div>
          <b>Self managed</b>
          <p>Do they say what they will do and then do what they say?</p>
        </div>
      </div>
      <div class="col-company right-side">
        <span class="what-we-do">Our self-organized agile teams ensure eﬀectiveness and project success.</span>
      </div>
    </div>
    <div class="table-row">
      <div class="col-company left-side">
        <div>
          <b>Financial control</b>
          <p>do anyone think about giving best with all finances in control?</p>
        </div>
      </div>
      <div class="col-company right-side">
        <span class="what-we-do">We bring the knowledge and experience you need without the cost and commitment of a
          full-time
          employee, so you can stay on track.

        </span>
      </div>
    </div>
    <div class="table-row">
      <div class="col-company left-side">
        <div>
          <b>Scandinavian work culture</b>
          <p>How does the organization support your professional development and career growth? Or What makes you proud
            to work at this company?</p>
        </div>
      </div>
      <div class="col-company right-side">
        <span class="what-we-do">We believe in a work culture that creates the sense of happiness and ensures a high
          quality of
          life. More about work culture.

        </span>
      </div>
    </div>